@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@200;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
}

.main__container
{
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 50px 0;
}

.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header h2
{
    font-size: 25px;
    color: rgba(200, 203, 204, 0.884);
}
.header h3
{
    font-size: 20px;
    color: rgba(98, 202, 236, 0.884);
}

.header p
{
    font-size: 18px;
    color: rgba(120, 127, 129, 0.952);
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.image
{
    width: 80px;
    margin-left: 240px;

    
}
.card
{
    margin: 0 20px;
    
}

.card__one
{
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 6px rgba(0, 0, 5, .5);
    height: 250px;
    width: 350px;

}

.one__top
{
    background-color: rgba(196, 193, 60, 0.884);
    height: 8px;
    border-radius:5px ;

}

.card__container
{
    padding: 15px;
}

.card__container h3
{
    font-size: 20px;
    font-weight: 700;
    color: rgba(67, 69, 70, 0.952);
    margin-bottom: 15px;
}

.card__container p
{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: rgba(67, 69, 70, 0.952);
    margin-bottom: 20px;
}

.card__two
{
    margin-bottom: 30PX;
    box-shadow: 0 0 6px rgba(0, 0, 5, .5);
    border-radius: 10px;
    height: 250px;
    width: 350px;

}

.two__top
{
    background-color: rgba(228, 52, 52, 0.884);
    height: 8px;
    border-radius:5px ;

}

.card__tree
{
    box-shadow: 0 0 6px rgba(0, 0, 5, .5);
    border-radius: 10px;
    height: 250px;
    width: 350px;

}

.tree__top
{
    background-color: rgba(36, 78, 214, 0.884);
    height: 8px;
    border-radius:5px ;
}

.card__for
{
    box-shadow: 0 0 6px rgba(0, 0, 5, .5);
    border-radius: 10px;
    margin-top: 50px;
    height: 250px;
    width: 350px;
}

.for__top
{
    background-color: rgba(72, 194, 15, 0.884);
    height: 8px;
    border-radius:5px ;
}


@media screen and (max-width:500px) {

    .container
    {
        display: flex;
        flex-direction: column;
    }
    .card__one,.card__two,
    .card__tree,.card__for
    {
        width: 360px;
        height: 250px;
        margin: 30px 0;
    }

}